@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
/* font-family: "Fira Mono", monospace; */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
}
body{
  overflow-x: visible;
  font-family: "Fira Mono", monospace;
}
.default_style{
  height: max-content;
  width: max-content;
  margin:auto;
}

